@font-face {
  font-family: PTSansnarrow;
  src: url(../fonts/web/ptsansnarrowbold.woff);
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: PTSansnarrow, sans-serif;
  color: white;
  background-color: black;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;
  background-image: url("../images/white-background.jpg");
  background-repeat: repeat;
}
.inner-page a {
  color: black;
}

button {
  border: none;
  font-family: PTSansnarrow, sans-serif;
  font-size: 14px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

.main-header {
  background-color: black;
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.inner-logo {
  padding: 15px 20px;
}

.main-navigation-ul {
  display: flex;
  width: 550px;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  justify-content: space-between;
  padding: 0;
}

.main-navigation-ul a {
  padding: 25px 20px;
  display: inline-block;
}
.main-navigation-ul a:hover {
  background-color: #242424;
}
.main-navigation-ul .active {
  position: relative;
}
.main-navigation-ul .active a:hover {
  background: none;
}

.main-navigation .active::before {
  position: absolute;
  content: "";
  left: 20px;
  right: 20px;
  height: 5px;
  bottom: 0;
  background-color:white;
}

.login {
  font-family: PTSansnarrow, sans-serif;
  cursor: pointer;
  width: 107px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 25px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background: black url(../images/icon-exit.png) no-repeat 15%;
}

.login:hover {
  background-color: #242424;
  background-image: url(../images/icon-login-hover.png);
}
/*END .main-header*/
/* внутренние стили start*/

.inner-page-title {
margin-bottom: 55px;
}
.index-logo {
  margin: 0 auto;
  width: 368px;
  padding-top: 55px;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.feature-item {
  font-size: 14px;
  text-align: center;
  width: 300px;
}

.features-item-title {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 65px;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
}

.features-item-title::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  left: 40%;
  top: 60px;
}

.features-item-text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.index-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding: 55px 80px 50px;
  color: black;
  background-color:white;
  background-image: url(../images/index-shadow.png), url(../images/white-background.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
}

.index-content-left {
  width: 380px;
}

.index-content-right {
  width: 300px;
}

.index-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 20px;
}

.news-preview {
  margin: 0;
  padding: 0;
}

.index-p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.list-time {
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  padding: 13px 0;
  width: 140px;
  background-color: black;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.gallery-content {
  display: flex;
  justify-content: center;
  padding-top: 7px;
  margin-bottom: 55px;
}

.slide-img {
  outline: 7px solid white;
}

.index-p-contact {
  margin-bottom: 35px;
}

.index-p-schedule {
  margin-bottom: 30px;
}

.two-buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.registration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.registration .btn {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 14px;
  padding: 12px;
  margin-top: 20px;
}

.registration .btn:last-child {
  flex-grow: 1;
  margin: 23px auto 23px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  font-family: PTSansnarrow, sans-serif;
  color: black;
}

.background-bottom {
  width: 100%;
  height: 255px;
  background-color: red;
}

.main-footer {
  width: 100%;
  color: white;
  background-color: #222222;
  background-image: url(../images/footer-background.png);
}

.main-footer a {
  color: white;
}

.main-footer .container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  padding-top: 65px;
  padding-bottom: 45px;
  width: 100%;
  max-width: 960px;
}

.footer-contacts {
  width: 400px;
}

.footer-created-by-text {
  text-align: center;
  text-transform: uppercase;
}

.footer-social {
  text-align: center;
}

.social-buttons-wrap {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background-color: black;
}

.footer-copyright {
  margin-left: auto;
  text-align: center;
}

.footer-map-link {
  text-decoration: underline;
}

.footer-map-link:hover {
  text-decoration: none;
  color: red;
  transition: 0.4s;
  border-bottom: 1px solid yellow;
}
/* INDEX END -------------------------- */

/* ПРАЙС-ЛИСТ START ------------------*/
.inner-page .main-header {
  margin-bottom: 55px;
}
.inner-page .main-header a {
  color: white;
}

.inner-page-title {
  text-transform: uppercase;
}

.price-list-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
  font-size: 14px;
}

.breadcrumbs li::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  top: 4px;
  right: 18px;
  background-color: black;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.breadcrumbs .current::after {
  display: none;
}

.inner-content {
  margin-bottom: 75px;
}

.inner-content h2 {
  margin-top:60px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.big-heading {
  text-align: center;
  margin-bottom: 65px;
}

.big-heading h2 {
  display: inline-block;
  margin: 0;
  padding: 0 25px;
  position: relative;
  z-index: 2;
  background: url(/images/white-background.jpg);
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 48px;
}

.big-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -25px;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid  black;
}


.inner-page-title + .inner-content h2 {
  margin-top: 0;
}

.custom-list-1 {
  margin-top: 14px;
  margin-bottom: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.custom-list-1 li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li:last-child {
  margin: 0;
}

.custom-list-1 li::before {
  position: absolute;
  content:"";
  background-color: black;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  top: 8px;
  left: 0;
}

.inner-content table {
  border-collapse: collapse;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.prices-table {
  width: 100%;
}

.prices-table td{
  border: 2px solid black;
  width: 50%;
  padding: 9px 17px;
}

.prices-table td:last-child {
  text-align: center;
}

.inner-columns {
  margin: 60px 0;
  display: flex;
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-columns p {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

h2+.inner-columns {
  margin-top: 0;
}
.short-text {
  padding-right: 80px;
}

.inner-page-footer {
  box-shadow: inset 0px 30px  40px -15px #000;
}
/* ПРАЙС-ЛИСТ END ------------------*/
/* MODAL POP-UP INDEX START------------------------*/ 

.modal-content  {
  position: absolute;
  top:120px;
  left: 50%;
  width: 300px;
  margin-left: -235px;
  padding: 50px 80px;
  color: #000;
  background:  url(../images/white-background.jpg);
  box-shadow: 0 30px 50px;
  box-sizing: content-box;
}

.modal-content-close {
  position: absolute;
  top:0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-content-close:before,
.modal-content-close:after {
  position: absolute;
  content: "";
  top: 9px;
  left: 1px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close:after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
}

.modal-content p {
  margin: 0; 
  margin-bottom: 14px;
  font-family: PTSansnarrow, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.modal-content .login-form { 
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 241px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding:10px 15px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: PTSansnarrow,sans-serif;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid black;
}

.login-form input.icon-user {
  background-image: url(../images/login-form-icon.png);
  background-repeat:no-repeat;
  background-position: 270px 15px;
}

.login-form input.icon-password {
  background-image: url(../images/login-form-password.png);
  background-repeat:no-repeat;
  background-position: 270px 15px;
}

.login-form span {
  text-transform: uppercase;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form a {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
}

.login-form .restore {
  float: right;
  color: #000;
}

.login-form .btn {
  margin-top: 15px;
  width: 100%;
}

.login-form .btn:hover {
  background-color: #663d15;
  cursor: pointer;
}


.login-checkbox {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 30px;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] {
  display:none;
}

.login-checkbox .checkbox-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  left: 0px;
  top: -2px;
}

.login-checkbox :checked +.checkbox-indicator::before,/*можно ли обойтись без знака + ? */
.login-checkbox :checked +.checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 16px;
  height: 2px;
  background-color: #000;
}
/* 7 лекция 01:26:20 он ставит checked везде я поставил только в верху и у меня все заработало почему так?*/
.login-checkbox .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox .checkbox-indicator:after {
  transform: rotate(-45deg);
}
/* MODAL POP-UP INDEX END---------------------------------------------------------*/

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 766px;
  height: 545px;
  margin-top: -280px;
  margin-left: -383px;
  background: #e9e5dc url(../images/map.png);
  border: 7px solid white;
  box-shadow: 0 30px 50px black;
  z-index: 3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: (0, 0, 0, 0.5);
  z-index: 2;
}