@font-face {
  font-family: PTSans;
  src: url(../fonts/ptsansnarrowbold.woff);
}
body {
  margin: 0;
  padding: 0;
  background-color: aqua;
}

.header {
  font-size: 16px;
  background-color: black;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 170px;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

ul {
  display: flex;
  margin-left: 40px;
}
li {
  padding: 0px 15px;
  list-style-type: none;
}
.navigation a {
  display: inline-block;
  padding: 25px 0;
  color: white;
  font-size: 16px;
  font-family: PTSans;
  font-weight: bald;
  text-decoration: none;
}
.navigation li:hover {
  background-color: #242424;
  cursor: pointer;
}
.button {
  width: 107px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 25px 20px;
  color: white;
  font-size: 16px;
  font-family: PTSans;
  font-weight: bald;
  text-decoration: none;
  border: none;
  background: black url(../images/exit.png) no-repeat 15%;
}
.button:hover {
  background-color: #242424;
  cursor: pointer;
}
ul .active {
  border-bottom: 3px solid white;
}
