@font-face {
  font-family: PTSans;
  src: url(../fonts/ptsansnarrowbold.woff);
}
body {
  margin: 0;
  padding: 0;
  background-color: aqua;
}
.header {
  font-size: 16px;
  background-color: black;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.header-right {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 170px;
  cursor: pointer;
  margin-left: 30px;
}

.logo img {
  width: 100%;
}

.header ul {
  display: flex;
  margin-left: 40px;
}

.header li {
  padding: 0px 15px;
  list-style-type: none;
}

.navigation a {
  display: inline-block;
  padding: 25px 0;
  color: white;
  font-size: 16px;
  font-family: PTSans, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.navigation li:hover {
  background-color: #242424;
  cursor: pointer;
}

.button {
  width: 107px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 25px 20px;
  color: white;
  font-size: 16px;
  font-family: PTSans;
  font-weight: bald;
  text-decoration: none;
  border: none;
  background: black url(../images/exit.png) no-repeat 15%;
}
.button:hover {
  background-color: #242424;
  cursor: pointer;
}

.header ul .active {
  border-bottom: 3px solid white;
}

.title {
  font-family: PTSans, sans-serif;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.main {
  padding-top: 55px;
  padding-bottom: 75px;
}

.breadcrubms {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
}
.breadcrubms li {
  position: relative;
}
.breadcrubms li::after {
  content:"";
  width: 10px;
  height: 10px;
  background-color: black;
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  right:3px;
  bottom: 3px;
}
.breadcrubms li:last-child::after {background: none;
}
.breadcrubms a {
  text-decoration: none;
  color: black;
  font-family: PTSans, sans-serif;
  font-size: 14px;
  line-height: 1;
}

.main li {
  padding-right: 30px;
  padding-top: 30px;
}

.breadcrubms .active {
  margin-left:20px;
  color: #aba9a7;
}

